.thread {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}

.thread-info {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 3px;
  position: relative;
}

.author-name {
  font-weight: bold;
  font-size: medium;
  margin: 0;
}

.author-extras {
  color: darkgrey;
  font-weight: 200;
  font-size: small;
  margin: 0;
}

.thread-title {
  margin: 0;
}

.thread-content {
  margin: 0;
  font-weight: 300;
}

.threads-container {
  display: flex;

  flex-direction: column;
  padding: 10px 10px 0 10px;
  gap: 5px;
}

.thread-info .options {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  gap: 5px;
}
.options:hover {
  cursor: pointer;
  color: rgb(179, 186, 198);
}

.thread-content-container {
  padding: 5px;
}

.tag {
  color: darkgray;
  margin: 2px 2px 2px 0;
  font-weight: 200;
  font-size: small;
}

.thread-actions {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}
.comment {
  color: white;
  font-size: small;
}

.comment:hover,
.like:hover {
  cursor: pointer;
  color: rgb(179, 186, 198);
}

.thread:hover {
  cursor: pointer;
}

.threads {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.threads::-webkit-scrollbar {
  display: none;
}

.thread-stats {
  font-size: small;
  color: darkgray;
  margin-left: 20px;
}
