.sideBar-container {
  background-color: transparent;
  width: 400px;
  height: calc(100vh);
  position: fixed;
  color: white;
  border-right: 4px inset rgb(179, 186, 198);
  overflow: hidden;
  padding-right: 0;
}

.sideBar-list {
  list-style-type: none;
  padding: 0;
}

.sideBar-content h1 {
  margin: 10px 0 60px 0;
  white-space: nowrap;
}

.sideBar-content {
  padding-top: 20px;
  position: relative;
  padding-left: 60px;
}

.account-menu {
  display: flex;
  margin-top: 300px;
}

.sideBar-list .sideBar-title {
  margin-bottom: 20px;
}

.sideBar-list li {
  margin-bottom: 15px;
  transition: background-color 0.3s ease-in-out;
}

.thread-btn {
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: large;
  border: none;
  border-radius: 25px;
  padding: 10px;
  width: 70%;
  height: 50px;
  margin-top: 20px;
  transition: background-color 0.3s ease-in-out;
}

.account-menu-edit-icon {
  display: flex;
  margin-left: 90px;
  transition: background-color 0.3s ease-in-out;
}

.account-menu p {
  margin: 0;
}

.username {
  color: grey;
}

.sideBar-list li a {
  color: white;
  text-decoration: none;
  font-size: larger;
}

.sideBar-list a {
  display: flex;
  align-items: center;
  gap: 5px;
}
.sideBar-list li :hover,
.account-menu-edit-icon:hover {
  color: rgb(179, 186, 198);
  cursor: pointer;
}

.thread-btn:hover {
  background-color: rgb(179, 186, 198);
  cursor: pointer;
}

@media (max-width: 750px) {
  .sideBar-container {
    width: 200px;
  }
  .sideBar-content h1 {
    font-size: large;
  }

  .sideBar-list li {
    font-size: small;
  }
  .thread-btn {
    font-size: medium;
  }
  .account-menu {
    display: flex;
    margin-top: 200px;
  }

  .account-menu p {
    font-size: 10px;
  }

  .account-menu-edit-icon {
    margin-left: 20px;
  }
}

@media (min-width: 751px) and (max-width: 999px) {
  .sideBar-container {
    width: 300px;
  }

  .account-menu {
    display: flex;
    margin-top: 250px;
  }

  .account-menu p {
    font-size: 13px;
  }

  .account-menu-edit-icon {
    margin-left: 40px;
  }
}

@media (min-width: 1000px) {
  .sideBar-container {
    width: 400px;
  }
}
