.emoji-container {
  max-width: 600px;
  margin: 50px auto;
 
  background-color: rgba(234, 230, 230, 0.2);
  
 
  overflow: hidden;
}

.emoji-header {
  padding: 20px;
 
  color: rgba(0, 0, 0, 0.8);
  
  text-align: center;
  border-radius: 5px;
  font-weight: 600;
}

.emoji-header h2 {
  margin: 0;
  font-size: 30px;
  font-weight: 800;
}

.emoji-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.emoji-input {
  
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  margin-bottom: 10px;
}

.search-button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  margin-bottom: 10px;
}

.search-button:hover {
   opacity: 0.5;
}

.meanings-container {
  display: flex;
  justify-content: space-between;
  color: black;
}

.meaning-box {
  width: calc(50% - 10px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.meaning-heading-eng {
  font-weight:500;
}
.meaning-heading-sin {
  font-weight:600;
}

.meaning-content {
  font-size: 16px;
}
