:root {
  --background-from: #0a0a0c;
  --background-to: #141419;
}

body {
  color: var(--primary);
  font-family: "Inter", sans-serif;
  background: var(--background-from);
  min-height: 100svh;
  margin: 0;
  padding: 0;
}

body::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4.86' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  opacity: 13%;
  position: fixed;
  content: "";
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-repeat: no-repeat;
  background-size: cover;
}


.layout {
  display: grid;
  grid-template-columns: 400px 1fr 400px; 
  height: 100vh; 
}

.side-bar {
  grid-column: 1; 
   
}

.threads {
  grid-column: 2; 
  border-right: 4px inset rgb(179, 186, 198);
  overflow-y: auto; 
}

.extras {
  grid-column: 3; 
 
}

.emoji-translator-container{
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: 300;
 padding: 10px;
  border-radius: 10px;
  display: grid;
  place-items: center; 

  text-align: center;
}


.translator-container{
  background-color: red;
  
}

.footer{
  background-color: green;
}

.grid-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 10px 15px;
  margin-top: 30px;
 
}


 



 .emoji-translator-container .try{
  border-radius: 25px;
  padding: 10px 20px;
  font-weight:bold ;
  font-size: small;
  background-color: white;
  color: black;
  border: none;
  transition: background-color 0.3s ease-in-out;
 
}  

.emoji-translator-container .try:hover{
  background-color: rgb(179, 186, 198);
  cursor: pointer;
}
