.navbar-container {
  background-color: #1c1c1c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 20px;
}

.App-Title {
  margin: 0;
  font-size: 25px;
  font-weight: bold;
}

.App-Title:hover {
  color: white;
  cursor: pointer;
}

.logo-link {
  text-decoration: none;
}

.navigation-links {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.profile-links {
  display: flex;
  gap: 20px;
}

.nav-link-emoji,
.nav-link-forum,
.nav-link-view-profile,
.nav-link-logout,
.nav-link-login,
.nav-link-signup {
  text-decoration: none;
  color: rgb(179, 186, 198);
  font-size: 20px;
}

.nav-link-emoji:hover,
.nav-link-forum:hover,
.nav-link-view-profile:hover,
.nav-link-logout:hover,
.nav-link-login:hover,
.nav-link-signup:hover {
  color: white;
  cursor: pointer;
}

.profile-icon,
.logout-icon {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}
